body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

table,th,tr,td{
  border-collapse: collapse;
  border: solid black;
  margin-left:auto;
  margin-right: auto;
  th,td{
    padding-left: 30px;
    padding-right: 30px;
  }
  tr:nth-child(even) {
    background-color: #D6EEEE;
  }
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
